<!DOCTYPE html>
<html>

<head>
	<title>Texas High Frequency Radar Particle Trajectory</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css">
	<link rel="stylesheet" href="../static/css/leaflet.timedimension.control.min.css" />
	<link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
	<div class="container">
		<div id="header">
			<table cellspacing="0" border="0" nowrap="">
				<tbody>
					<!-- TGLO logo -->
					<td align="left">
						<div id="gloseal">
							<a href="http://www.glo.texas.gov/">
										<img alt="The Texas General Land Office" align="center" src="/static/img/gloseal_new.png" border="0">
									</a>
						</div>
					</td>

					<!-- TGLO words and icons -->
					<td class="bksm" nowrap align="left">
						<div id="tglo">
							<font>
								<b>The Texas General Land Office</b><br>
										George P. Bush, Commissioner<br>
										Oil Spill Prevention &amp; Response <br>
							</font>
						</div>
						<div id="social">
							<!--TGLO social -->
							<a class="icon-social" href="https://www.facebook.com/txglo" target="_blank" title="Facebook Link"><span class="fa fa-facebook-square"></span></a>
							<a class="icon-social" href="https://twitter.com/txglo" target="_blank" title="Twitter Link"><span class="fa fa-twitter-square"></span></a>
							<a class="icon-social" href="https://instagram.com/glotx/" target="_blank" title="Instagram Link"><span class="fa fa-instagram "></span></a>
							<a class="icon-social" href="https://www.pinterest.com/txglo/" target="_blank" title="Pinterest Link"><span class="fa fa-pinterest-square "></span></a>
							<a class="icon-social" href="https://www.youtube.com/channel/UClgrc70AHYIteUJtYxw1yCw" target="_blank" title="Youtube Link"><span class="fa fa-youtube-square"></span></a>
							<a class="icon-social" href="https://medium.com/@txglo" target="_blank" title="Medium Link"><span class="fa fa-medium"></span></a>
						</div>
					</td>

					<!-- TABS main title then description -->
					<td align="center">
						<div id="title">
							<br>
							<font color="black">Texas HF Radar System</font><br>
								</div>
							<br>
							<div id="mobtitle">
								<br> <i>Real Time Ocean Observations</i>
								<br> <i>Supporting Oil Spill Prevention and Response</i>
							</div>
					</td>

					<!-- GERG logo then social icons -->
					<td align="right">
						<div id="gerg">
							<a href="http://gerg.tamu.edu"><img align="center" src="/static/img/gerg_logo.gif" alt="Geochemical and Environmental Research Group" border="0"></a>
						</div>
						<!-- TAMU social -->
						<div id="social">
							<a class="icon-social" style="color:#500000;" href="https://www.facebook.com/TAMUGERG" target="_blank" title="Facebook Link"><span class="fa fa-facebook-square"></span></a>
							<a class="icon-social" style="color:#500000;" href="https://twitter.com/tamu_ocean" target="_blank" title="Twitter Link"><span class="fa fa-twitter-square"></span></a>
							<a class="icon-social" style="color:#500000;" href="https://www.instagram.com/tamugeosciences/" target="_blank" title="Instagram Link"><span class="fa fa-instagram "></span></a>
							<a class="icon-social" style="color:#500000;" href="https://www.pinterest.com/tamugeosciences/" target="_blank" title="Pinterest Link"><span class="fa fa-pinterest-square "></span></a>
							<a class="icon-social" style="color:#500000;" href="https://www.youtube.com/user/tamugeosciences" target="_blank" title="Youtube Link"><span class="fa fa-youtube-square"></span></a>
						</div>
					</td>

					</tr>
				</tbody>
			</table>
		</div>
		<div id="map" class="map radar"></div>
		<p>
			<h2>Select start time and end time of the animation loop</h2>
			<div style="float:left; margin-right: 10px;">
				<label for="start_time">Start time (local time)</label><br/><input id="dtp_start" name="start_time" type="text" >
      </div>
			<div style="float:left; margin-right: 10px;">
				<label for="end_time">End time (local time)</label><br/><input id="dtp_end" name="end_time" type="text" >
      </div>
			<div style="float:left; margin-left: 6px; margin-right: 6px;">
				<form> <h3> Initial set up for spill trajectory </h3>
					<div style="float:left; margin-right: 15px;">
						<label for="longitude">Longitude</label><br/>
						<input type="number" id="txt_longitude" value="" name="longitude" maxlength="7" size="20"></input>
					</div>
					<div style="float:left; margin-right: 15px;">
						<label for="latitude">Latitude</label><br/>
						<input type="number" id="txt_latitude" value="" name="latitude" maxlength="7" size="20"></input>
					</div>
					<div>
						<button type="button" id="btn_lonlat" class="btn"> Site Information Submit</button>
						<!-- <button type="button" id="btn_lonlat" onclick="AddLoc()" class="btn"> Site Information Submit</button> -->
						<!-- <input type="submit" id="lonlat_submit" value="lonlat_submit" onclick="AddLoc()">						 -->
					</div>
				</form>
			</div>

			<div style="float:left; margin-right: 10px;">
				<div style="float:right; padding-top: 40px;">
					<button type="button" id="btn_timerange" class="btn" >Apply new time availables range</button><br /><br />
					<button type="button" id="btn_limitrange" class="btn" >Apply new time limits range</button>
				</div>
			</div>
		</p>
		<div style="clear: both;"></div>
		<pre><code class="javascript" id="code"></code></pre>
		<div id="footer">
			<li><a href="http://ocean.tamu.edu/" target="_blank">Oceanography</a></li>
			<li><a href="http://geosciences.tamu.edu/" target="_blank">College of Geosciences</a></li>
			<li><a href="https://services.tamu.edu/directory-search/" target="_blank">TAMU Directory</a></li>
			<li><a href="https://github.com/cyhsu/hfradar" target="_blank"><span>HFradar Oil Spill Trajectory at GitHub!</span></a></li>
		</div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
	<script type="text/javascript" src="/static/js/leaflet.timedimension.js"></script>
	<script type="text/javascript" src="/static/js/leaflet.timedimension.util.js"></script>
	<script type="text/javascript" src="/static/js/leaflet.timedimension.layer.js"></script>
	<script type="text/javascript" src="/static/js/leaflet.timedimension.layer.wms.js"></script>
	<script type="text/javascript" src="/static/js/leaflet.timedimension.layer.geojson.js"></script>
	<script type="text/javascript" src="/static/js/leaflet.timedimension.player.js"></script>
	<script type="text/javascript" src="/static/js/leaflet.timedimension.control.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/to_flask.js"></script>

</body>
</html>
